@charset "utf-8";
body, button, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, li, ol, ul, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0；
}

h1, h2, h3, h4, h5, h6 {
  font-size: 150%;
}

ul, ol {
  list-style: upper-roman;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  font-size: 100%;
}



